<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

  <header>
    <a href="javascript:toggleNavigation()" class="menu" id="navigation-toggle">&nbsp;</a>
    <div class="logo">&nbsp;</div>
    <ul id="navigation">
      <li><a href="#/movies"><i class="fa fa-film fa-lg"></i> Movies</a></li>
      <li><a href="#/series"><i class="fa fa-coffee fa-lg"></i> Series</a></li>
      <li><a href="#/settings"><i class="fa fa-cogs fa-lg"></i> Settings</a></li>
    </ul>
  </header>

  <form class="search" id="searchMovies">
    <input type="text" placeholder="Filter the movies...">
    <button type="submit" tabindex="2">Go</button>
  </form>

  <form class="search" id="searchSeries">
    <input type="text" placeholder="Filter the series...">
    <button type="submit" tabindex="2">Go</button>
  </form>

  <article id="series">
    <ul id="seriesList">
    </ul>
  </article>
  <article id="serie">
    <div class="pad">
      <div class="movie">
        <img class="poster" id="seriePoster">
        <div class="text">
          <h1 id="serieTitle"></h1>
          <br>
          <div id="serieStatus">
          </div>
          <br><br>
          <p id="serieDescription"></p>
          <div class="buttons" id="serieSeasonButtons">
          </div>
        </div>
      </div>
    </div>
  </article>
  <article id="season">
    <ul class="episodes" id="episodesList">
    </ul>
  </article>
  <article id="episode">
    <div class="pad">
      <div class="movie">
        <!-- <img class="poster" id="episodePoster"> -->
        <div class="text">
          <h1 id="episodeTitle"></h1>
          <br>
          <i class="stamp" id="episodeCode"></i>
          <br><br>
          <p id="episodeDescription"></p>
          <div class="buttons" id="episodePlayButtons">
          </div>
        </div>
      </div>
    </div>
  </article>
  <article id="movies">
    <ul id="moviesList">
    </ul>
  </article>
  <article id="movie">
    <div class="pad">
      <div class="movie">
        <img class="poster" id="moviePoster">
        <div class="text">
          <h1 id="movieTitle"></h1>
          <br>
          <div id="movieStatus">
          </div>
          <br><br>
          <p id="movieDescription"></p>
          <div class="buttons" id="moviePlayButtons">
          </div>
        </div>
      </div>
    </div>
  </article>
  <article id="settings">
    <div class="pad">
      <ul class="settings">
        <li>
          <label class="label-switch">
            <input type="checkbox" id="setting-no-seeding">
            <div class="checkbox"></div>
          </label>
          <h4>No Seeding</h4>
        </li>
        <li>
          <div class="select">
            <select id="setting-subtitle-lang">
              <option value="">No subtitles</option>
              <option value="albanian">Albanian</option>
              <option value="arabic">Arabic</option>
              <option value="bengali">Bengali</option>
              <option value="brazilian-portuguese">Brazilian Portuguese</option>
              <option value="bulgarian">Bulgarian</option>
              <option value="chinese">Chinese</option>
              <option value="croatian">Croatian</option>
              <option value="czech">Czech</option>
              <option value="danish">Danish</option>
              <option value="dutch">Dutch</option>
              <option value="english">English</option>
              <option value="farsi-persian">Farsi/Persian</option>
              <option value="finnish">Finnish</option>
              <option value="french">French</option>
              <option value="german">German</option>
              <option value="greek">Greek</option>
              <option value="hebrew">Hebrew</option>
              <option value="hungarian">Hungarian</option>
              <option value="indonesian">Indonesian</option>
              <option value="italian">Italian</option>
              <option value="japanese">Japanese</option>
              <option value="korean">Korean</option>
              <option value="lithuanian">Lithuanian</option>
              <option value="macedonian">Macedonian</option>
              <option value="malay">Malay</option>
              <option value="norwegian">Norwegian</option>
              <option value="polish">Polish</option>
              <option value="portuguese">Portuguese</option>
              <option value="romanian">Romanian</option>
              <option value="russian">Russian</option>
              <option value="serbian">Serbian</option>
              <option value="slovenian">Slovenian</option>
              <option value="spanish">Spanish</option>
              <option value="swedish">Swedish</option>
              <option value="thai">Thai</option>
              <option value="turkish">Turkish</option>
              <option value="urdu">Urdu</option>
              <option value="vietnamese">Vietnamese</option>
            </select>
            <i class="fa fa-caret-down fa-lg"></i>
          </div>
        </li>
        <li>
          <div class="button">
            <a href="javascript:saveSettings()">Save Settings</a>
          </div>
        </li>
        <li>
          <div class="button">
            <a href="javascript:reboot()">Reboot System</a>
          </div>
        </li>
        <li>
          <div class="button">
            <a href="javascript:shutdown()">Shutdown System</a>
          </div>
        </li>
      </ul>
    </div>
  </article>
  <article id="start">
    <h1 class="title">PiTV</h1>
  </article>
  <div id="loadingRemote" class="spinner"></div>

  <footer>
    <a id="media-backward" href="javascript:backward()">
      <i class="fa fa-backward fa-lg"></i>
    </a>
    <a id="media-play" href="javascript:play()">
      <i class="fa fa-play fa-lg"></i>
    </a>
    <a id="media-stop" href="javascript:stop()">
      <i class="fa fa-stop fa-lg"></i>
    </a>
    <a id="media-forward" href="javascript:forward()">
      <i class="fa fa-forward fa-lg"></i>
    </a>
    <span id="media-title"></span>
  </footer>

  <div class="alert" style="display:none" id="alert">
    <div class="window">
      <h1><i class="fa fa-exclamation-triangle"></i> An error occured!</h1>
      <p id="alert-message"></p>
      <a href="javascript:closeAlert()">
        <i class="fa fa-check-circle-o"></i>
      </a>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/remote.js"></script>
</body>
</html>
